<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>296257558958-s0kf5fpm934iiuobcf8q2av03l40o4je.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.296257558958-s0kf5fpm934iiuobcf8q2av03l40o4je</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>296257558958-ohpgj8hrgnfopr0jgkv9ngl1tqdfbeh1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD-2XfltI6cHm5KCKt8tx5dXGN8x4ZTXKc</string>
	<key>GCM_SENDER_ID</key>
	<string>296257558958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.buildYourFocus</string>
	<key>PROJECT_ID</key>
	<string>build-your-focus</string>
	<key>STORAGE_BUCKET</key>
	<string>build-your-focus.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296257558958:ios:4d6cd844a82a52f13d103f</string>
</dict>
</plist>